.filter-results {
  margin-top: 20px; /* Ajoute un espace entre le bouton de filtre et les résultats */
}

.pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centre les cartes */
}

.pokemon-card {
  margin: 10px; /* Ajoute un espace entre les cartes */
}
